#set($userId = $ctx.identity.sub)

## Check if user is workspace admin
{
    "version": "2018-05-29",
    "operation": "Query",
    "index": "UserWorkspaceIndex",
    "query": {
        "expression": "user_id = :userId AND workspace_id = :workspaceId",
        "expressionValues": {
            ":userId": $util.dynamodb.toDynamoDBJson($userId),
            ":workspaceId": $util.dynamodb.toDynamoDBJson($ctx.args.id)
        }
    }
}

