#set($userId = $ctx.identity.sub)

## Get all workspaces where user has an account
{
    "version": "2018-05-29",
    "operation": "Query",
    "index": "UserWorkspaceIndex",
    "query": {
        "expression": "user_id = :userId",
        "expressionValues": {
            ":userId": $util.dynamodb.toDynamoDBJson($userId)
        }
    }
}
